@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" lang="ru" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MBuilder3X</title>

    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/webix/codebase/webix_debug.js"></script>
    <script src="lib/webix/codebase/i18n/ru.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/mskin.js"></script>
    <script src="js/mbase.js"></script>
    <script src="js/mcommands.js"></script>
    <script src="js/mdata.js"></script>
    <script src="js/mforms.js"></script>
    <script src="js/mmacro.js"></script>
    <script src="js/mmain.js"></script>
    <script src="js/mparams.js"></script>
    <script src="js/mparse.js"></script>
    <script src="js/msys.js"></script>
    <script src="js/mtemplates.js"></script>
    <link rel="stylesheet" href="~/lib/webix/codebase/skins/aircompact.css" />
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="css/site.css" />
</head>
<body style="padding:0px; margin: 0px">
    <!--
    <div id="header_div" >
        XXXXXXXXXXXXXXXXX
    </div>
    -->
    <div id="main" style="width:100%">
        <script type="text/javascript" charset="utf-8">
            m.main.refreshAll();
        </script>
    </div>
</body>
</html>
